*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    margin-bottom: 30rem;
    border: 5px solid #564138;  
    
}
.button{
    margin: 2px;
    width: 5rem;
    height: 2rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(16, 118, 235);
    border: rgb(16, 118, 235) solid 2px;
    transition: background-color 0.1s linear, color 0.1s linear;
    
}
.button:hover{
    background-color: white;
    color: rgb(16, 118, 235);
}
input{
    border: rgb(16, 118, 235) solid 2px;
    margin: 2px;
}
