<div class="container">

    <div class="card flex justify-content-center" *ngFor="let car of cars" style="overflow: hidden;">
        <p-card header="{{car.brand}}" subheader="{{car.model}}">
            <ng-template pTemplate="header">
                <img alt="Card" ngSrc="{{car.imgSrc}}" width="300" height="200" style="margin: 0;" />
            </ng-template>
            <ul>
                <li>Year: {{car.year}}</li>
                <li>Color: {{car.color}}</li>
                <li>Price per day: {{car.rentalPricePerDay}}$</li>
            </ul>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1" style="bottom: 0;">
                    
                    <p-button label="Rent" severity="success" class="w-full" styleClass="w-full" (click)="rentCar(car.id)" #dynamicButton/>
                </div>
            </ng-template>
        </p-card>
    </div>

</div>